@font-face{
  font-family: 'Comfortaa';
  src: url('assets/Comfortaa.ttf') format('truetype');
}

body{
  font-family: 'Comfortaa', sans-serif;
  margin:0;
  padding:0;
  background: linear-gradient(to bottom, #08b51f82, #014522db),
              radial-gradient(circle, rgb(7, 78, 192), transparent);
}